/* INIZIO GENERAL */

img{
    max-width: 100%;
  }

  /* FINE GENERAL */
  
  /* INIZIO MY SETTINGS */
  
  .jt-container{
    width: 60%;
    margin: 0 auto;
  }
  
  .jt-form .form-control{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  
  .jt-btn{
    background-color: #1ABC9C;
    color: white;
  }
  
  .dark h2, .dark .jt-star{
    color: #2C3E50;
  }
  
  .dark .jt-star::before, .dark .jt-star:after{
    background-color: #2C3E50;
  }

  /* FINE MY SETTING */
  
  /* INIZIO STAR */

.jt-star{
    font-size: 30px;
    margin: 0 auto;
    vertical-align: middle;
  }
  
  .jt-star::before, .jt-star:after{
    content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
  }
  .text h5{
    font-size: 0.7rem;
  }

  /* FINE STAR */
  
  /* INIZIO SECTION */
  
  /* INIZIO HEADER */
  
  header{
    background-color:#2C3E50;
  }
  
  header .navbar .nav-link, header .navbar .navbar-brand {
    color: white;
  }
  
  header .navbar .nav-link:hover{
    color:#1ABC9C
  }
  
  header .navbar .navbar-brand{
    font-size: 2rem;
    font-weight: bold;
  }

  /* FINE HEADER */
  
  /* INIZIO JUMBOTRON*/
  
  .jumbotron, #about{
    background-color: #1ABC9C;
  }
  
  .avatar{
    width: 250px;
  }

  /* FINE JUMBOTRON */

  /* INIZIO PORTFOLIO */

.jt-card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .jt-card .layover{
    background-color:rgba(49, 168, 156, 0.569) ;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .jt-card .bi-plus-lg{
    color: white;
    font-size: 5rem;
  }
  
  .jt-card:hover .layover{
    display: flex;
  }

  /* FINE PORTFOLIO */
  
  /* FINE SECTION */

  /* INIZIO FOOTER */

footer{
    color: white;;
  }
  
  .footer-top{
    background-color: #3A546D;
  }
  
  .footer-top h5{
    text-transform: uppercase;
  }
  
  .footer-top span{
    color: #1ABC9C
  }
  
  .footer-bottom{
    background-color: #2C3E50;
  }
  .fa-brands{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 10px;
  }

  /* FINE FOOTER */
  
  
  
